.datatable-wrap{
	padding: 80px;
	background-color: #ebeff2;
	.dataTables_filter{
	position: absolute;
    right: 0;
    top: -40px;
	    label{
	    	font-size: 16px;
	    	font-weight: normal;
	    	input{
	    		border: none;
	    		border-radius: 5px;
	    		padding: 5px;
	    	}
	    }
	}
	.dataTables_length{
   		label{
   			font-size: 16px;
   			font-weight: normal;
   			margin-bottom:15px;
   			select{
   				padding: 2px 0;
   				border-radius: 10px;
   				width: auto!important;
   			}
   		}
   	}
	.dataTables_wrapper{
		margin-top: 0;
		background: #fff;
    	padding: 20px;
   		border-radius: 10px;
   		.dataTables_info{
   			margin-top: 23px;
   			padding-top: 0;
   		}
   		.dataTables_paginate{
			margin-top: 15px;
			padding-top: 0;
			border-radius: 5px;
			border:1px solid #ddd;
			.current{
				background: #5ebeaa;
			}
			.paginate_button{
				margin-left:0;
				&:fover{background-color:#5ebeaa;}
			}
			.previous {border-right: 1px solid #ddd;}
			.next{border: none;}
			span{
				.paginate_button{
					border-right: 1px solid #ddd;
					&:last-child{border-left:1px solid #ddd;}
					&:fover{background-color:#5ebeaa;}
				}
			}
		}
	}
	#table-data{
		border: 1px solid #eee;
		.dataTables_info{
			margin-top: 23px;
			padding-top: 0;
		}
		thead{
			
			tr{
				th{
					font-size: 14px;
					border-bottom: none;
					&:first-child{width:150px!important;}
				}
			}
			
		}
		tbody{
			tr:nth-child(odd){
				background-color: #f4f8fb;
			}
			tr{
				background-color: #fff;
				padding: 5px;
				text-align: center;
				.sorting_1{
					text-align: right;
					padding-right: 10px;
				}
				th{
					&:after{
						content:none;
					}
				}
			}
			td{
				text-align: center;
				padding: 5px;
				border: 1px solid #eee;
				&:before{top:6px;left:5px;}
			}
		}
	}
}
